<title>New User</title>
<form class="" action="/users" method="post">
	<input type="text" name="username" placeholder="Username" value="">
	<input type="text" name="full_name" placeholder="Full Name" value="">
	<input type="submit" value="Submit">
</form>
