<table>
	<th>
		<td>
			<a href="/users/new">New User</a>
		</td>
	</th>
		{{#each users}}
		 <tr>
<td><a href='/users/{{this.id}}'>{{this.full_name}}</a></td>
<td>{{this.username}}</td>
	</tr>
	{{/each}}
</table>
