<table>
	<tr>
		<td>
			Username
		</td>
		<td>
			Full Name
		</td>
		<td>
			<a href="/users/new">New User</a>
		</td>
	</tr>
		{{#each users}}
		 <tr>
<td><a href='/users/{{this.id}}'>{{this.username}}</a></td>
<td>{{this.full_name}}</td>
	</tr>
	{{/each}}
</table>
